.Boxuser_password {
    padding-top: 40px;
    width: 400px;
    height: 40px;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
  }
  
Form .box_sizing {
    box-sizing: border-box ;
    width: 100%;
    height: 55px;
 
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 20px ;
    background: #ffffff;
}
Form .textbox {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
}

Form .textforgotpassword {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center ;
    text-decoration-line: underline;
    color: #000000;
}


Form .box_signin{
   
    width: 350px;
    height: 45px;
    top: 588px;
    margin-left: 25px;
    border-radius: 30px ;
    color:#ffffff;
    background-color:#F87777;
    border-color: #F87777;
    
}
Form .layout_lineror a.liner_or{
    width: 150px;
    height: 0px;
    left: 344px;
    top: 683px;
    
    border: 1px solid #A39F9F;
}
Form .layout_lineror{
    padding: 0 2.5rem;
    display: flex;
    list-style: none;
    align-items: center;
  
}
Form .box_signin_google{
    width: 350px;
    height: 45px;
    top: 588px;
    color: #000;
    margin-left: 25px;
    background: #ffffff;
    border-radius: 30px ;
    border: 1px solid #000000;
    
}