form .container {
    position:center;
    width: 460px;
    height: 500px;
    left: 490px;
    top: 232px;
    background: #080606;
    border-radius: 20px;
}
.background {
    background-color: antiquewhite;
}
form .element_position {
    box-sizing: border-box;
    width: 420px;
    height: 40px;
    left: 510px;
    top: 291px ;
    background: #FFFFFF;
    border: 1px solid #5F5F5F;
    border-radius: 10px;
  
 
    }